/* REST */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
html {
  font-size: 62.5%; /*10px*/
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style: none;
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* VARIABLE */
:root {
  /* font-family */
  --font-family: Montserrat, "Roboto", sans-serif;

  /* colors */
  --primaire: #ff6060;

  --secondaire: #000000;

  --text: #333;
  --background-primaire: #fff;
  --background-secondaire: #f6f6f6;
}

/* TYPO */

body {
  margin: 0;
  font-family: var(--font-family);
  width: 90%;
  margin: auto;
  max-width: 1440px;
}
