header {
  font-size: 2.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 4rem;
}

.navHeader {
  display: flex;
  align-items: center;
  color: #ff6060;
  font-family: var(--font-family);
}
.navList {
  display: flex;
}
.navItem {
  margin: 3rem;
}
.nav-link {
  color: #ff6060;
}
.navItem:nth-last-child(1) {
  margin-right: 0;
}

.active {
  text-decoration: underline;
}

/* Responsive */

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
  header {
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
  .navItem {
    margin: 2rem;
    text-transform: uppercase;
  }
}
