.collapsible .toggle {
  position: relative;
  color: #fff;
  background: var(--primaire);
  border: unset;
  cursor: pointer;
  font: unset;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0rem;
  width: 100%;
  height: 47px;
  font-size: 1.8rem;
  text-align: start;
  padding-left: 2rem;
}

.collapsible {
  margin-bottom: 2rem;
}

.collapsible .content {
  border-radius: 5px;
  border: 1px solid #fff;
  background: #f7f7f7;
  padding: 1rem;
  color: var(--primaire);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 25.67px;
}

.filter__custom-arrow {
  transition: transform 300ms;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1px;
  right: 1px;
  border-radius: 5px;
  height: 95%;
  width: 40px;
  cursor: pointer;
  margin: auto;
}

.filter__custom-arrow::before {
  content: url("../../assets/arrow-bottom.svg");
}

/* Responsive */
@media only screen and (max-width: 767px) {
  .collapsible .content {
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 17.11px;
  }
}
